{% extends "::base.html.twig" %}

{% block title %}AppBundle:UserManagement:registration{% endblock %}

{% block body %}
<h1>Welcome to the UserManagement:registration page</h1>
{{ form_start(monFormulaire) }}
        {{ form_widget(monFormulaire) }}
       
    {{ form_end(monFormulaire) }}
{% endblock %}
