<a href="{{ path('homepage') }}">Accueil</a>
<a href="{{ path('app_usermanagement_registration') }}">Inscription</a>
<a href="{{ path('app_usermanagement_login') }}">Connexion</a>
<a href="{{ path('app_usermanagement_logout') }}">Déconnexion</a>